=content_for :page_header do
  %h1 Information

=simple_form_for @student, defaults: {wrapper_html: {class: 'col-md-5'}} do |form|

  .inputs
    .row
      =form.input :name
    .row
      =form.input :email, as: :email
      =form.input :email_confirmation, as: :email
    .row
      =form.input :expected_graduation_season, collection: ['Fall', 'Spring', 'Summer']
      =form.input :expected_graduation_year, collection: (Date.today.year..(Date.today+7.years).year)
    .row
      =form.input :major_1, collection: Major.all
      =form.input :major_2, collection: Major.all

  .form-group
    =form.submit "Submit", class: 'btn btn-success'
    =link_to "Clear", root_path, class: 'btn btn-warning'
