=content_for :page_header do
  %h1 Information

=simple_form_for @student, defaults: {wrapper_html: {class: 'col-lg-6'}} do |form|

  .inputs
    .row
      =form.input :name
    .row
      =form.input :email, as: :email
      =form.input :email_confirmation, as: :email
    .row
      =form.input :expected_graduation_year, collection: (Date.today.year..(Date.today+7.years).year)
      =form.input :expected_graduation_season, collection: ['Fall', 'Spring', 'Summer']
    .row
      .form-group
        %h5 Majors
        -Major.all.in_groups_of(3, false) do |majors|
          .row
            -majors.each do |m|
              .col-sm-4
                .checkbox
                  %label
                    =form.check_box :major_ids, {multiple: true, checked: @student.major_ids.include?(m.id) }, m.id, nil
                    =m.description
  .form-group
    =form.submit "Submit", class: 'btn btn-success'
    =link_to "Clear", root_path, class: 'btn btn-warning'